
@media only screen and (min-width: 700px)  {   
	#main .item {
		padding-top: 1px;
		padding-bottom: 1px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		border-radius: 2px;
		background-color: #fff;
		width: 400px;
		margin: 10px auto;
	}
}

#main ion-nav-view {
	background-color: #fff;
}
a {
	text-decoration: none;
	color: #0084B4;
}
#welcome {
	text-align: center;
	padding: 20px;
}
#welcome p {
	padding: 20px 0 30px;
	max-width: 320px;
	margin:0 auto;
}
.collection-item {
  left: 0;
  right: 0;
}
.item {
  padding: 7px;
  padding-left: 70px;
}
.item-avatar > img:first-child {
	top: 10px;
	left: 10px;
	max-width: 50px;
	max-height: 50px;
}
.item h2 {
	margin: 0 0 0px 0;
	font-size: 14px;
	line-height: 1.3;
}
.item p {
	font-size: 14px;
	line-height: 1.4;
  	color: #292f33;
}
.item h2 {
	font-weight: bold;
}
.item h2 span {
	font-size: 13px;
	font-weight: normal;
	color: #8899a6;
}
.item h2 span.time {
	float: right;
	font-size: 12px
}
